.product {
  width: 100%;
  height: 130px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 8px;
  // padding: 10px;
  display: flex;
  flex-direction: row;

  .product_main {
    width: 80%;
    // background-color: #000;
    display: flex;
    flex-direction: row;

    .product_image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 130px;
      border-radius: 8px;
      background-color: #fff;
      margin-bottom: 16px;
    }

    .product_info {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 16px;
        font-weight: 500;
        color: var(--title);
        margin-bottom: 8px;
      }

      .product_infoDetail {
        display: flex;
        // align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;

        .product_detail {
          display: flex;
          flex-direction: row;
          margin-top: -5px;

          p {
            font-size: 12px;
            font-weight: 400;
            color: var(--text);
            margin-right: 10px;
          }
        }

        h3 {
          font-size: 18px;
          font-weight: 600;
          margin-top: 15px;
          color: var(--title);
        }
      }
    }
  }

  .footer {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    // background-color: #ff6b35;

    .product_content_button {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 90%;
      height: 30px;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 10px;
        border: 0;
        border-radius: 8px;
        background-color: #000;
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: #ffb84d;
          color: #fff;
        }
      }
    }

    .quantity {
      width: 90%;
      height: 30px;
      // margin-right: 10px;
      border-radius: 8px;
      display: flex;
      background-color: var(--background);
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .quantity_button {
        width: 30px;
        height: 30px;
        border-radius: 8px;
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        p {
          font-size: 16px;
          font-weight: 600;
          color: #ff6b35;
        }
      }
    }

    .delete_button {
      width: 90%;
      height: 30px;
      border-radius: 8px;
      background-color: #eb5757;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      p {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
      }
    }
  }
}
